<div class="row">
  <div class="col-md-6 offset-md-3 contenedor">
    <h3 class="text-center">Edición de empleado</h3>
    <form (ngSubmit)="onSubmit()" #empleadoForm="ngForm">
      <div class="form-group mb-3">
        <label><b>Nombre: </b></label>
        <input
          type="text"
          class="form-control"
          placeholder="Ingrese su nombre"
          autocomplete="off"
          id="nombre"
          name="nombre"
          required
          minlength="4"
          maxlength="10"
          [(ngModel)]="empleado.nombre"
          #nombre="ngModel"
        />
        <!--captura los errores-->
        <div
          class="alert alert-danger"
          *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
        >
          <div *ngIf="nombre.errors['required']">
            Escribe su nombre por favor
          </div>
          <div *ngIf="nombre.errors['minlength']">
            El nombre tiene que contener como minimo 4 caracteres
          </div>
          <div *ngIf="nombre.errors['maxlength']">
            el nombre tiene que tener como maximo 10 caracteres
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label><b>Apellido: </b></label>
        <input
          type="text"
          class="form-control"
          placeholder="Ingrese su apellido"
          autocomplete="off"
          id="apellido"
          name="apellido"
          required
          minlength="4"
          maxlength="10"
          [(ngModel)]="empleado.apellido"
          #apellido="ngModel"
        />
        <!--captura los errores-->
        <div
          class="alert alert-danger"
          *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
        >
          <div *ngIf="apellido.errors['required']">
            Escribe su apellido por favor
          </div>
          <div *ngIf="apellido.errors['minlength']">
            El apellido tiene que contener como minimo 4 caracteres
          </div>
          <div *ngIf="apellido.errors['maxlength']">
            el apellido tiene que tener como maximo 10 caracteres
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label><b>Email: </b></label>
        <input
          type="email"
          class="form-control"
          placeholder="Ingrese su email"
          autocomplete="off"
          id="email"
          name="email"
          pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
          required
          [(ngModel)]="empleado.email"
          #email="ngModel"
        />
        <!--captura los errores-->
        <div
          class="alert alert-danger"
          *ngIf="email.invalid && (email.dirty || email.touched)"
        >
          <div *ngIf="email.errors['required']">Escribe su Email por favor</div>
          <div *ngIf="email.errors['pattern']">
            Escribe el email con el siguiente formato: user100&#64;gmail.com
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label><b>Fecha: </b></label>
        <input
          type="text"
          class="form-control"
          placeholder="Ingrese su fecha"
          id="creadoEn"
          name="creadoEn"
          required
          [(ngModel)]="empleado.creadoEn"
          #creadoEn="ngModel"
        />
      </div>

      <div class="botonactualizar">
        <button class="btn btn-success" [disabled]="!empleadoForm.form.valid">
          Guardar
        </button>
        <!--  <button class="btn btn-success">Guardar</button>-->
      </div>
    </form>
  </div>
</div>
